.app-icon>img {
    height: 4rem;
}

.search-from {
    margin-left: 20px;
}

.search-icon {
    margin-left: -35px !important;
    z-index: 10;
}
.h2{
    font-size: 1rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #21313c !important;
    font-weight: 600 !important;
    line-height: 1.2 !important;
    margin-bottom: .5rem !important;
    margin-top: 0 !important;
}