<footer class="footer">
    <div class="container">
        <div class="row g-4 py-4 ">
            <div class="col-12 col-md-12 col-lg-4">
                <h6 class="mb-4"> Categories</h6>
                <div class="row">
                    <div class="col-6">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#!" class="nav-link"> Vegitables &amp; Fruits</a></li>
                            <li class="nav-item mb-2"><a href="#!" class="nav-link"> Breakfast &amp; instan food</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#!" class="nav-link"> Vegitables &amp; Biscuits</a></li>
                            <li class="nav-item mb-2"><a href="#!" class="nav-link"> Vegitables &amp; dal</a></li>
                            <li class="nav-item mb-2"><a href="#!" class="nav-link"> Vegitables &amp; spreads</a></li>
                            <li class="nav-item mb-2"><a href="#!" class="nav-link"> Vegitables &amp; gourmet</a></li>
                            <li class="nav-item mb-2"><a href="#!" class="nav-link"> Baby care</a></li>
                            <li class="nav-item mb-2"><a href="#!" class="nav-link"> Cleaning essentials</a></li>
                            <li class="nav-item mb-2"><a href="#!" class="nav-link"> Personal care</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <h6 class="mb-4"> Categories</h6>
                <div class="row">
                    <div class="col-6">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#!" class="nav-link"> Vegitables &amp; Fruits</a></li>
                            <li class="nav-item mb-2"><a href="#!" class="nav-link"> Breakfast &amp; instan food</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#!" class="nav-link"> Vegitables &amp; Biscuits</a></li>
                            <li class="nav-item mb-2"><a href="#!" class="nav-link"> Vegitables &amp; dal</a></li>
                            <li class="nav-item mb-2"><a href="#!" class="nav-link"> Vegitables &amp; spreads</a></li>
                            <li class="nav-item mb-2"><a href="#!" class="nav-link"> Vegitables &amp; gourmet</a></li>
                            <li class="nav-item mb-2"><a href="#!" class="nav-link"> Baby care</a></li>
                            <li class="nav-item mb-2"><a href="#!" class="nav-link"> Cleaning essentials</a></li>
                            <li class="nav-item mb-2"><a href="#!" class="nav-link"> Personal care</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>